pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "WebHook1",
				"type": "WebHook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://ethicalsol.uc.r.appspot.com/ESM_Get_Country",
					"method": "POST",
					"body": {
						"publicHolidayDate": "2022-12-25"
					},
					"timeout": "00:10:00",
					"reportStatusOnCallBack": false
				}
			},
			{
				"name": "Set varCountryList",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebHook1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "countryList",
					"value": {
						"value": "@activity('WebHook1').output.COUNTRIES",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set varCountryList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('countryList')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"countryList": {
				"type": "String"
			}
		},
		"annotations": []
	}
}